:root {
  --token-simulation-green-base-44: #FC5D0D;
  --tooltip-color: #f98c56;
  --cm-color-ui-dark4: #1f2023;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

#canvas {
  height: calc(100% - 55px);
}

div.button-controls {
  display: flex;
  padding: 10px 24px;
  height: 30px;
  background-color: #F7F7F7;
  align-items: center;
  font-size: 14px;
}

div.zoom-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  background-color: #F7F7F7;

}

.zoom-controls button {
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  cursor: pointer;
}

.zoom-controls button>div{
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
}

.zoom-controls button div:after {
  height: inherit;
  width: inherit ;
}

.zoom-controls button:nth-child(1) div:after {
  content: url('./assets/center.svg');
}

.zoom-controls button:nth-child(3) div::after {
  content: url('./assets/minus.svg');
}

.zoom-controls button:nth-child(5) div::after {
  content: url('./assets/plus.svg');
}

hr {
  border: 0.1px solid #dedede;
  margin: 2px 5px;
}

select {
  min-width: 80px;
  height: 24px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
}

/* bpmn-js */
div.djs-popup {
  font-family: "IBM Plex Sans", sans-serif;
}

a.bjs-powered-by {
  display: none;
}

.bts-toggle-mode {
  display: none;
}

/* ---- */

/* toggle */

.toggle-container {
  display: inline-flex;
  align-items: center;
}

.toggle {
  --width: 34px;
  --height: 14px;
  --border-radius: calc(var(--height) / 2);
  margin: 0 5px 0 30px;

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
  background-color: hsl(0, 0%, 87%);
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  height: 20px;
  width: 20px;
  background: rgb(0, 0, 0);
  border-radius: 100%;
  transition: transform 0.2s;
}

.toggle__input:checked~.toggle__fill {
  background-color: #ffcdb3;
}

.toggle__input:checked~.toggle__fill::after {
  transform: translateX(20px);
  background-color: #FC5D0D;

}

/* ---- */

/* token simulation */

.bjs-container .djs-palette {
  top: 20px;
}

.djs-palette.two-column.open {
  width: 48px;
}

.bts-notifications,
.bts-set-animation-speed {
  bottom: 50px;
}

#toggle-guide-div {
  display: none;
}

/* --- */
.djs-overlay.foreground {
  z-index: 1;
}

.template-trigger {
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--tooltip-color), inset 0 0 0 1px var(--tooltip-color),
    0 0 4px 2px var(--tooltip-color), inset 0 0 4px 0px var(--tooltip-color);
}
.template-trigger::before {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--tooltip-color);
  opacity: 0.25;
}

.template-trigger::after {
  content: '';
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 70px;
  height: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.template-tooltip {
  display: none;
  position: relative;
  width: 350px;
  padding: 15px 20px 20px 15px;
  background-color: var(--cm-color-ui-dark4);
  border-radius: 3px;

  color: #fff;
  font-size: 13px;
}
.template-tooltip::before {
  content: '';
    position: absolute;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.template-tooltip.top-arrow::before {
  top: -8px;
  border-bottom: 8px solid var(--cm-color-ui-dark4);
}

.template-tooltip.bottom-arrow::before {
    bottom: -8px;
    border-top: 8px solid var(--cm-color-ui-dark4);
}

.template-tooltip.left-arrow::before {
  left: 25px;
}

.template-tooltip.right-arrow::before {
  right: 25px;
}

.template-tooltip:hover,
.template-trigger:hover + .template-tooltip {
  display: block;
}
.template-tooltip a {
  font-size: 14px;
  font-weight: 400;

  border-radius: 3px;
  text-decoration: none;
  color: hsl(205, 98%, 74%);

  transition: all linear 200ms;
}
.template-tooltip a::after {
  content: '';
  padding-left: 15px;
  margin-right: 2px;
  background-image: url("data:image/svg+xml,%3Csvg width='12px' height='12px' viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg' %3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' %3E%3Cpath d='M6,0 L6,1.4 L1.4,1.4 L1.4,10.6 L10.6,10.6 L10.6,6.485 L12,6.485 L12,12 L0,12 L0,0 L6,0 Z M12,0 L12,5.204 L10.203,3.205 L6.707,6.702 L5.293,5.288 L8.863,1.716 L7.32,0 L12,0 Z' fill='%23dbebff' fill-rule='nonzero' %3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: right;
  background-repeat: no-repeat;
  transform: translateY(1px);
}

.template-tooltip a:hover {
  color: rgb(173, 210, 255);
}

.template-tooltip a:focus {
  outline: none;
}

.template-tooltip a:focus-visible {
  box-shadow: 0px 0px 0px 1px #c8e1ff, 0px 0px 0px 4px #8cb7ff;
}

.template-tooltip a:active {
  color: hsl(214,100%,96%);
}